@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: rgba(0, 0, 0, .2);
}

body {
    background: rgb(155, 210, 220);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.banji {
    font-size: 4em;
    color: rgb(176, 164, 38);
    pointer-events: none;
    margin-right: 270px;
}

.button a{
    text-decoration: none;
    color: #359381;
    padding: 6px 12px;
    border-radius: 18px;
    margin: 0 15px;
    font-size: 1.4em;
}

.button a:hover{
    background: #359381;
    color: #fff;
}



.symbol {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#title {
    position: absolute;
    font-size: 3.6em;
    color: rgb(186, 175, 75);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.symbol img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.wenzi {
    position: relative;
    background: #003329;
    padding: 100px;
}

.wenzi h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.wenzi p {
    font-size: 2em;
    color: #fff;
    font-weight: 300;
}

.wenzi h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}