* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(71, 52, 34);
}

#back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
  
.back-button {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: 隶书;
    font-weight: 600;
    font-size: 1.6em;
    padding: 0.75em 1em;
    color: rgb(140, 171, 214);
    border: 0.2em none rgb(140, 171, 214);
    border-radius: 2em;
    transition: 2.5s;
}

.back-button:before,
.back-button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgb(140, 171, 214);
    transition: 3s;
}

.back-button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.back-button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.back-button:hover,
.back-button:focus {
    color: white;
}

.back-button:hover:before,
.back-button:hover:after,
.back-button:focus:before,
.back-button:focus:after {
    transform: none;
    background-color: rgb(140, 171, 214);
}

.title{
    position: fixed;
    left:0;
    top:0;
    height: 120px;
    overflow: hidden;
    z-index: 1;
    border-bottom: 4px solid rgb(32,15,5);
}
#title{
    width: 100%;
    overflow: hidden;
    position: relative;
    top:-320px;
    left: 0;
    pointer-events: none; 
}

  
.aaa{
    position: absolute;
    top:150px;
    display: flex;
    height: 3000px;
    flex-direction: column;
    z-index: 0;
}
.box{
    width:1000px;
    flex: 1;
    overflow: hidden;
    transition: .4s;
    margin: 5px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    border: 5px solid rgb(191, 154, 120);
    background-color: rgb(156, 100, 48);
}
.box>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.box:hover{
    flex-basis: 4%;
}
.box:hover>img{
    width: 100%;
    height: 100%;
}