*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
} 
/* 这样就不能往下滑了 */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160vh;
}

#back {
    position: absolute;
    top: 0;
    left: 0;
}
  
.back-button {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: 隶书;
    font-weight: 600;
    font-size: 1.6em;
    padding: 0.75em 1em;
    color: rgb(140, 171, 214);
    border: 0.2em none rgb(140, 171, 214);
    border-radius: 2em;
    transition: 2.5s;
}

.back-button:before,
.back-button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgb(140, 171, 214);
    transition: 3s;
}

.back-button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.back-button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.back-button:hover,
.back-button:focus {
    color: white;
}

.back-button:hover:before,
.back-button:hover:after,
.back-button:focus:before,
.back-button:focus:after {
    transform: none;
    background-color: rgb(140, 171, 214);
}

.button {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: 隶书;
    font-weight: 600;
    font-size: 2.3em;
    padding: 0.75em 1em;
    color: rgb(117, 18, 5);
    border: 0.15em solid rgb(117, 18, 5);
    border-radius: 2em;
    transition: 2.5s;
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgb(117, 18, 5);
    transition: 3s;
}

.button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button:hover,
.button:focus {
    color: white;
}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
    transform: none;
    background-color: rgb(117, 18, 5);
}

#backgroundImage {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("../../image/bg.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
