*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
}/*这样就不能往下滑了*/

#backgroundImage {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("../../image/bg.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 125vh;
}

.img{
    opacity: 0.92;
}
#back {
    position: absolute;
    top: 0;
    left: 0;
}
  
.back-button {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: 隶书;
    font-weight: 600;
    font-size: 1.6em;
    padding: 0.75em 1em;
    color: rgb(140, 171, 214);
    border: 0.2em none rgb(140, 171, 214);
    border-radius: 2em;
    transition: 2.5s;
}

.back-button:before,
.back-button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgb(140, 171, 214);
    transition: 3s;
}

.back-button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.back-button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.back-button:hover,
.back-button:focus {
    color: white;
}

.back-button:hover:before,
.back-button:hover:after,
.back-button:focus:before,
.back-button:focus:after {
    transform: none;
    background-color: rgb(140, 171, 214);
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    transition: 0.5s;
}
.container .box:hover{
    transform: scale(1.2);
    box-shadow: 0 25px 40px rgba(194,92,52,0.6);
    z-index: 1;
}
.container .box .img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.container .box .img::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgb(148,55,49),transparent);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover .img::before{
    opacity: 1;
}
.container .box .img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .text-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: #fff;
    z-index: 2;
}
.container .box .text-box h2{
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateY(200px);
    transition: 0.5s;
}
.container .box:hover .text-box h2{
    transform: translateY(0);
    transition-delay: 0.3s;
}
.container .box .text-box p{
    font-size: 13px;
    line-height: 20px;
    transform: translateY(200px);
    transition: 0.5s;
}
.container .box:hover .text-box p{
    transform: translateY(0);
    transition-delay: 0.4s;
}

#music-player-container{
    position: absolute;
    top: -999px;
    left: -999px;
}